# Required
JWT_KEY=RookHubSuperSecretKeyThatIsAtLeast32CharsLong!

# Database
MYSQL_ROOT_PASSWORD=rootpassword
DB_HOST=mariadb
DB_PORT=3306
DB_EXTERNAL_PORT=3307
DB_DATA_PATH=mariadb-data
INIT_DB_PATH=./init-db.sql

# Crawler DB
CRAWLER_DB_NAME=chessresults
CRAWLER_DB_USER=chessresults
CRAWLER_DB_PASSWORD=chessresults

# RookHub DB
ROOKHUB_DB_NAME=rookhub
ROOKHUB_DB_USER=rookhub
ROOKHUB_DB_PASSWORD=rookhub_secret

# JWT
JWT_ISSUER=RookHub
JWT_AUDIENCE=RookHub

# Ports
FRONTEND_PORT=8085
API_PORT=5001

# VPN (nur fuer compose.vpn.yml)
VPN_SERVICE_PROVIDER=airvpn
VPN_TYPE=wireguard
WIREGUARD_PRIVATE_KEY=your_private_key_here
WIREGUARD_PRESHARED_KEY=
WIREGUARD_ADDRESSES=10.x.x.x/32
SERVER_COUNTRIES=Germany
